.controls {
  /* Используем антикву, чтобы сочеталось с заголовком */
  font-family: 'Times New Roman', Times, Baskerville, Georgia, serif;
  font-size: 16px;
  color: #a0a0a0;
  display: flex;
  align-items: center;
  /* Авто-отступ слева прижмет компонент к правому краю во Flex-контейнере */
  margin-left: auto;
  white-space: nowrap;
  letter-spacing: -0.01em;
}

.arrows {
  font-weight: 700;
  margin-right: 8px;
  color: #888;
  /* Корректировка для визуального выравнивания стрелок с текстом */
  position: relative;
  top: -1px;
  letter-spacing: 2px;
}

.text {
  font-weight: 400;
}

@media (max-width: 768px) {
  .controls {
    margin-left: 0;
    font-size: 14px;
    margin-top: 4px;
  }
}
