.appLayout {
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.galleryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
